{% extends "base.html" %}
{% block title %}Member Add Field{% endblock %}
{% block body %}
<div>
    <form class="well" method="POST" action="">
        <label>Select a field to add:</label>{% csrf_token %}
        {{ form.name }}<br>
        <label>Check if you can mentor this field?</label>
        {{ form.mentor }}<br>
        <button class="btn active" name="add">Add</button>
        <button class="btn" name="cancel">Cancel</button><br>
    </form>
</div>
<p class="text-error">{{ message }}</p>
{% endblock %}
