{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
<h2>{{ member }}</h2>
{% if status %}
<p class="text-success">Is active: {{ status }}</p>
{% else %}
<p class="text-error">Is active: {{ status }}</p>
{% endif %}
<div class="span12">
    <div class="span6">
        <ul>
            {% if msg_count > 0 %}
            <li>
                <h4>
                    <a href="{% url 'mfmessage_list' %}" class="text-error">
                        You have {{ msg_count }} unread messages.   Read Messages
                    </a>
                </h4>
            </li>
            {% else %}
            <li>
                <a href="{% url 'mfmessage_list' %}">
                    You have no unread messages.   Message list.
                </a>
            </li>
            {% endif %}
            <li>Username: {{ member.username }}</li>
            <li>Email: {{ member.email }}</li>
            <li>Member since: {{ member.date_joined }}</li>
            <br>
            <li>
                Fields of Interest:
                <a href="{% url 'add_field' %}" style="padding-left: 2em">
                    Add New Field
                </a>
            </li>
                <ul>
                    {% for field in interests %}
                    <li>{{ field }}
                        <a href="{% url 'delete_field' field.id %}" style="padding-left: 2em">
                            Delete
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <br>
            <li>
                Job Experience: 
                <a href="{% url 'new_job' %}"style="padding-left: 2em">
                    Add a job
                </a>
            </li>
            
                <ul>
                    {% for job in job_list %}
                    <li>{{ job }}</li>
                    {% endfor %}
                </ul>   
            <li>Education:</li>
                <ul>
                    {% for e in education %}
                    <li>{{ e.ed_type }}</li>
                    {% endfor %}
                </ul>
                <br>
            <li>You have been endorsed by:</li>
                <ul>
                    {% for person in endorsed_by %}
                    <li>
                        <a href="{% url 'member_detail' person.id %}">
                            {{ person }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            <li>You have endorsed:</li>
                <ul>
                    {% for person in endorsed %}
                    <li>
                        <a href="{% url 'member_detail' person.id %}">
                            {{ person }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            <li>Your Mentorships:</li>
                <ul>
                    {% for m in mentorships_list %}
                    <li>{{ m }}</li>
                    {% endfor %}
                </ul>
            <li>Mentorships you are requesting:</li>
                <ul>
                    {% for mr in mr_reqeusting %}
                    <li>
                        {{ mr }}
                        <a href="#"></a>
                    </li>
                    {% endfor %}
                </ul>
            <li>Mentorships requested of you:
                <ul>
                    {% for mr in mr_requested %}
                    <li>
                        {{ mr }}
                        <a href="{% url 'accept_mentorship' mr.id %}" style="padding-left: 2em">
                            Accept Mentoree
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <br>
        </ul>
    </div>
</div>
<br>

<div class="span6">
    <form action="" method="POST">{% csrf_token %}
        <label><strong>Intro</strong></label>
        <p>{{ intro_form.intro_entry }}</p>
        <button class="btn btn-primary" name="save">Save</button>
        <!-- <button class="btn" name="revert">Revert</button> -->
    </form>
</div>
{% endblock %}